@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="adInfoForm">

            <input type="hidden" id="id" value="${ad.id}">

            <div class="row">
                <div class="col-sm-12 b-r">

                    <#input id="mainhead" name="球队名称" underline="true" value="${ad.mainhead}"/>

                    <#input id="subhead" name="级别" underline="true" value="${ad.subhead}"/>

                    <#input id="starttime" name="出生日期" underline="true" type="date"
                            value="${ad.starttime}"
                            clickFun="laydate({istime: false, format: 'YYYY-MM-DD'})" />

                    <#input id="endtime" name="出生日期" underline="true" type="date"
                            value="${ad.endtime}"
                            clickFun="laydate({istime: false, format: 'YYYY-MM-DD'})" />

                    <#input id="url" name="广告链接" underline="true" value="${ad.url}"/>

                    <#adview id="ads" name="球队log" underline="true" adsImg="${ad.adsImg}" ads = "${ad.ads}"/>
                </div>

            </div>



        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/football/ad/ad_info.js"></script>
@}
