@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>球队管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="roleName" name="球队名称" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="Role.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="teamTableToolbar" role="group">
                            @if(shiro.hasPermission("/role/add")){
                                <#button name="查看" icon="fa-eye" clickFun="Team.openTeamDetail()" />
                            @}
                            @if(shiro.hasPermission("/role/edit")){
                                <#button name="修改" icon="fa-edit" clickFun="Team.openChangeRole()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/role/remove")){
                                <#button name="删除" icon="fa-remove" clickFun="Team.delTeam()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/role/add")){
                            <#button name="队员管理" icon="fa-plus" clickFun="Team.teamMember()"  space="true"/>
                            @}
                        </div>
                        <#table id="teamTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/football/team/team.js"></script>
@}
