@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="adInfoForm">

            <input type="hidden" id="id" value="${team.id}">

            <div class="row">
                <div class="col-sm-6 b-r">
                    <#input id="mainhead" name="球队名称" underline="true" value="${team.name}" disabled="disabled"/>

                    <#input id="mainhead" name="排名" underline="true" value="${rank!}"  disabled="disabled"/>
                    <#input id="startpoint" name="起始积分" underline="true" value="${team.startpoint}" disabled="disabled" />
                    <#input id="point" name="总积分" underline="true" value="${team.point}" disabled="disabled" />

                    <#avatarview id="avatar" name="球队LOGO"  avatarImg="${team.teamLog}"/>

                </div>
                <div class="col-sm-6 b-r">
                    @if(isNotEmpty(team.point) && team.point >=3500){
                    <#input id="mainhead" name="级别" underline="true" value="神灵"  disabled="disabled"/>
                    @}
                    @if(isNotEmpty(team.point) && team.point >=3000 &&team.point <=3499){
                    <#input id="mainhead" name="级别" underline="true" value="传奇"  disabled="disabled"/>
                    @}
                    @if(isNotEmpty(team.point) && team.point >=2500 &&team.point <=2999){
                    <#input id="mainhead" name="级别" underline="true" value="经典"  disabled="disabled"/>
                    @}
                    @if(isNotEmpty(team.point) && team.point >=2000 &&team.point <=2499){
                    <#input id="mainhead" name="级别" underline="true" value="统治"  disabled="disabled"/>
                    @}
                    @if(isNotEmpty(team.point) && team.point >=1500 &&team.point <=1999){
                    <#input id="mainhead" name="级别" underline="true" value="战士"  disabled="disabled"/>
                    @}
                    @if(isNotEmpty(team.point) && team.point >=1000 &&team.point <=1499){
                    <#input id="mainhead" name="级别" underline="true" value="守护"  disabled="disabled"/>
                    @}
                    @if(isNotEmpty(team.point) && team.point >=0 &&team.point <=999){
                    <#input id="mainhead" name="级别" underline="true" value="使者"  disabled="disabled"/>
                    @}
                    <#input id="mainhead" name="胜/平/负" underline="true" value="${team.winnum}/${team.drawnum}/${team.debtnum}"  disabled="disabled"/>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">球队简介</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" id="pkdesc"   name="area" rows="3" style="min-width: 90%;height:128px;" disabled="disabled">${team.teamdesc} </textarea>
                        </div>
                    </div>

                    <#input id="endtime" name="创建时间" type="text"
                            value="${createTime}"
                             disabled="disabled"/>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 b-r">
                    <#label id="hostteam" name="面貌评分"  value="${teamView.culture!0}"/>
                    <#label id="hostteam" name="文明评分"  value="${teamView.friendly!0}"/>
                    <#label id="hostteam" name="准时评分"  value="${teamView.ontime!0}"/>
                </div>
            </div>


        </div>

    </div>
</div>
@}
