@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="matchInfoForm">

            <input type="hidden" id="id" value="${match.id}">

            <div class="row">
                <div class="col-sm-12 b-r">

                    <#input id="challengeteam" name="发起方" underline="true" value="${match.challengeteam}"/>
                    <#input id="hostteam" name="匹配方" underline="true" value="${match.hostteam}"/>
                    <#input id="area" name="球场区域" underline="true" value="${match.area}"/>
                    <#input id="parkname" name="球场" underline="true" value="${match.parkname}"/>
                    <#input id="pkaddr" name="球场地址" underline="true" value="${match.pkaddr}"/>
                    <#input id="status" name="比赛状态" underline="true" value="${match.status}"/>
                    <#input id="time" name="时间" underline="true" value="${match.time}"/>
                    <#input id="hostteam" name="发起方评分" underline="true" value="${match.hostteam}"/>
                    <#input id="hostteam" name="匹配方评分" underline="true" value="${match.hostteam}"/>
                    <#input id="challengepaystatus" name="发起方支付状态" underline="true" value="${match.challengepaystatus}"/>
                    <#input id="hostpaystatus" name="匹配方支付状态" underline="true" value="${match.hostpaystatus}"/>

                </div>

            </div>


            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="MatchInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="MatchInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/football/match/match_info.js"></script>
@}
