@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="matchInfoForm">

            <input type="hidden" id="id" value="${match.id}">

            <div class="row">
                <div class="col-sm-12 b-r">

                    <#label id="no" name="订单编号" underline="true" value="${match.no}"/>
                    <#label id="hostteam" name="发起方" underline="true" value="${match.hostteam}"/>
                    <#label id="meName" name="队长" underline="true" value="${match.meName}"/>
                    <#label id="meMobile" name="手机号码" underline="true" value="${match.meMobile}"/>
                    <#label id="area" name="球场区域" underline="true" value="${match.area}"/>
                    <#label id="status" name="比赛状态" underline="true" value="${match.status}"/>
                    <#label id="createdate" name="发起日期"  value="${match.createdate}"/>
                    <#label id="date" name="约战日期" underline="true" value="${match.date}"/>
                    <#label id="time" name="约战时间" underline="true" value="${match.time}"/>
                    <#label id="time" name="约战比分" underline="true" value="${match.hostgoals}:${match.challengegoals}"/>
                </div>

            </div>

            <div class="row">
                <div class="col-sm-6 b-r">
                    <#label id="faqi1" name="发起方" style="color:#617f10;" underline="true" value=""/>
                    <#label id="o1No" name="订单编号" underline="true" value="${match.o1No}"/>
                    <#label id="hostteam" name="发起方" underline="true" value="${match.hostteam}"/>
                    <#label id="meName" name="队长" underline="true" value="${match.meName}"/>
                    <#label id="meMobile" name="手机号" underline="true" value="${match.meMobile}"/>
                    <#label id="area" name="球场区域" underline="true" value="${match.area}"/>
                    <#label id="createdate" name="发起日期" underline="true" value="${match.createdate}"/>
                    <#label id="pinfen1" name="收到的评分" style="color:#617f10;" underline="true" value=""/>
                    <#label id="hostculture" name="文明评分" underline="true" value="${match.hostculture}"/>
                    <#label id="hostontime" name="准时评分" underline="true" value="${match.hostontime}"/>
                    <#label id="hostfriendly" name="球队面貌评分" underline="true" value="${match.hostfriendly}"/>
                    <#label id="hostpaystatus" name="支付状态" underline="true" value="${match.hostpaystatus}"/>

                </div>
                <div class="col-sm-6 b-r">


                    <#label id="faqi2" name="匹配方" style="color:#617f10;" underline="true" value=""/>
                    <#label id="o2No" name="订单编号" underline="true" value="${match.o2No}"/>
                    <#label id="challengeteam" name="匹配方" underline="true" value="${match.challengeteam}"/>
                    <#label id="me2Name" name="队长" underline="true" value="${match.me2Name}"/>
                    <#label id="me2Mobile" name="手机号" underline="true" value="${match.me2Mobile}"/>
                    <#label id="area2" name="球场区域" underline="true" value="${match.area}"/>
                    <#label id="createdate2" name="发起日期" underline="true" value="${match.createdate}"/>
                    <#label id="pinfen2" name="收到的评分" style="color:#617f10;" underline="true" value=""/>
                    <#label id="challengeculture" name="文明评分" underline="true" value="${match.challengeculture}"/>
                    <#label id="challengeontime" name="准时评分" underline="true" value="${match.challengeontime}"/>
                    <#label id="challengefriendly" name="球队面貌评分" underline="true" value="${match.challengefriendly}"/>
                    <#label id="challengepaystatus" name="支付状态" underline="true" value="${match.challengepaystatus}"/>
                </div>
            </div>



        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/football/match/match_info.js"></script>
@}
