@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="matchInfoForm">

            <input type="hidden" id="id" value="${match.id}">

            <div class="row">
                <div class="col-sm-12 b-r">

                    <#input id="account" name="账号" underline="true" value="${match.account}"/>

                    <#input id="name" name="姓名" underline="true" value="${match.name}"/>

                    <#input id="birth" name="出生年月" underline="true" type="date" value="${match.birth}"
                            clickFun="laydate({istime: false, format: 'YYYY-MM-DD'})" />

                    <#input id="height" name="身高" underline="true" value="${match.height}"/>
                    <#input id="weight" name="体重" underline="true" value="${match.weight}"/>
                    <#select id="position" name="所踢位置" underline="true" value="${match.position}">
                        <option value="1">前锋</option>
                        <option value="2">中锋</option>
                    </#select>
                    <#select id="habitfeet" name="惯用脚" underline="true" value="${match.habitfeet}">
                        <option value="1">左</option>
                        <option value="2">右</option>
                    </#select>
                    <#select id="type" name="状态" underline="true" value="${match.type}">
                        <option value="1">队长</option>
                        <option value="2">球员</option>
                    </#select>
                    <#avatarview id="avatar" name="头像" underline="true" avatarImg="${match.avatar}" />
                    <#avatarview id="idcard" name="身份证照" underline="true" avatarImg="${match.idcard}"/>


                    <#input id="teamname" name="创建球队" underline="true" value="${match.teamname}"/>

                    <#avatarview id="teamlogo" name="球队logo" underline="true" avatarImg="${match.logoImg}"/>

                    <#select id="teamarea" name="球队区域" underline="true" value="${match.teamarea}">
                        <option value="1">区域A</option>
                        <option value="2">区域A</option>
                    </#select>

                </div>

            </div>



        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/football/match/match_info.js"></script>
@}
