@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="matchInfoForm">

            <input type="hidden" id="id" value="${match.id}">
            <input type="hidden" id="challengepaystatusVal" value="${match.challengepaystatus}">
            <input type="hidden" id="hostpaystatusVal" value="${match.hostpaystatus}">

            <div class="row">
                <div class="col-sm-12 b-r">

                    <#label id="challengeteam" name="发起方" underline="true" value="${match.challengeteam}"/>
                    <#label id="hostteam" name="匹配方" underline="true" value="${match.hostteam}"/>
                    <#label id="area" name="球场区域" underline="true" value="${match.area}"/>
                    <#label id="parkname" name="球场" underline="true" value="${match.parkname}"/>
                    <#label id="pkaddr" name="球场地址" underline="true" value="${match.pkaddr}"/>
                    <#label id="status" name="比赛状态" underline="true" value="${match.status}"/>
                    <#label id="time" name="时间" underline="true" value="${match.time}"/>
                    <#label id="hostteam" name="发起方文明评分"  value="${match.challengeculture}"/>
                    <#label id="hostteam" name="发起方准时评分"  value="${match.challengeontime}"/>
                    <#label id="hostteam" name="发起方球队面貌评分" underline="true" value="${match.challengefriendly}"/>
                    <#label id="hostteam" name="匹配方文明评分"  value="${match.hostculture}"/>
                    <#label id="hostteam" name="匹配方准时评分"  value="${match.hostontime}"/>
                    <#label id="hostteam" name="匹配方球队面貌评分" underline="true" value="${match.hostfriendly}"/>
                    <#select id="challengepaystatus" name="发起方支付状态" underline="true" >
                        <option value="0">未支付</option>
                        <option value="1">已支付</option>
                    </#select>
                    <#select id="hostpaystatus" name="匹配方支付状态" underline="true"  >
                        <option value="0">未支付</option>
                        <option value="1">已支付</option>
                    </#select>

                </div>

            </div>


            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="MatchInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="MatchInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/football/match/match_info.js"></script>
@}
