@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="orderInfoForm">

            <input type="hidden" id="id" value="${order.id}">

            <div class="row">
                <div class="col-sm-12 b-r">

                    <#label id="no" name="订单编号" underline="true" value="${order.no}"/>
                    <#label id="hostteam" name="发起方" underline="true" value="${order.hostteam}"/>
                    <#label id="meName" name="队长" underline="true" value="${order.meName}"/>
                    <#label id="meMobile" name="手机号码" underline="true" value="${order.meMobile}"/>
                    <#label id="area" name="球场区域" underline="true" value="${order.area}"/>
                    <#label id="status" name="比赛状态" underline="true" value="${order.status}"/>
                    <#label id="createdate" name="发起日期"  value="${order.createdate}"/>
                    <#label id="date" name="约战日期" underline="true" value="${order.date}"/>
                    <#label id="time" name="约战时间" underline="true" value="${order.time}"/>


                </div>

            </div>


        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/football/order/order_info.js"></script>
@}
