@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="adInfoForm">

            <input type="hidden" id="id" value="${ad.id}">

            <div class="row">
                <div class="col-sm-6 b-r">

                    <#input id="adMainHead" name="广告标题" underline="true" value="${ad.adMainHead}"/>

                    <#input id="adSubHead" name="广告副标题" underline="true" value="${ad.adSubHead}"/>

                    <#input id="adStartTime" name="出生日期" underline="true" type="date"
                            value="${ad.adStartTime}"
                            clickFun="laydate({istime: false, format: 'YYYY-MM-DD'})" />

                    <#input id="adEndTime" name="出生日期" underline="true" type="date"
                            value="${ad.adEndTime}"
                            clickFun="laydate({istime: false, format: 'YYYY-MM-DD'})" />


                    <#input id="adUrl" name="广告链接" underline="true" value="${ad.adUrl}"/>

                    <#input id="adStatus" name="广告状态" underline="true" value="${ad.adStatus}"/>
                </div>

            </div>


            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="AdInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="AdInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/ad/ad_info.js"></script>
@}
