@layout("/common/_container.html"){
<div class="row">


    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>开关管理</h5>
            </div>
            <div class="ibox-content">


                <table class="table">
                    <thead>
                    <tr>
                        <th>描述</th>
                        <th>开关状态</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>短信开关(约战成功失败短信发送、消息管理短信发送、验证码不做控制)</td>
                        <th><input type="checkbox" id="sms-switch" checked="checked"/></th>
                    </tr>
                   <!-- <tr>
                        <td>其他开关</td>
                        <th><input type="checkbox" id="my-checkbox2" checked="checked"/></th>
                    </tr>-->
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/football/switch/switch.js"></script>
@}
