@layout("/common/_container.html"){

	<div class="ibox float-e-margins">
		<div class="ibox-title">
			<h5>球场管理</h5>
		</div>
		<div class="ibox-content">
			<div class="row row-lg">
				<div class="col-sm-12">
					<div class="ibox float-e-margins">
						<div class="ibox-content" style="border:none !important; ">
							<div class="form-horizontal" id="userInfoForm">

								<input type="hidden" id="id" value="">
								<input type="hidden" id="sexValue" value="">

								<div class="row">
									<div class="col-sm-6 b-r">
										<#input id="pkname" name="球场名" underline="true" value=""  />
										<#select id="area" name="球场区域" underline="true" value="">
											@for(item in areaInfo){
											<option value="${item.areaid}">${item.area}</option>
											@}
										</#select>
										<div class="form-group">
											<label class="col-sm-3 control-label">球场地址</label>
											<div class="col-sm-9">
												<textarea class="form-control" id="pkaddr" name="deblock_udid" rows="3" style="min-width: 90%"></textarea>
											</div>
										</div>

									</div>

									<div class="col-sm-6">
										<div id="driverInfoContent">

											<div class="form-group">
												<label class="col-sm-3 control-label">球场简介</label>
												<div class="col-sm-9">
													<textarea class="form-control" id="pkdesc" name="deblock_udid" rows="3" style="min-width: 90%"></textarea>
												</div>
											</div>

										</div>
									</div>
								</div>
								<div class="row">
									<#ad id="imgs" name="图片上传" underline="true" />
								</div>
								<div class="row">
										<div class="col-sm-6" >
										<label class="col-sm-3 control-label">可用时间</label>
										<#button btnCss="info" name="增加" icon="fa-plus" clickFun="DictInfoDlg.addItem()"/>
									    </div>
									<div class="col-sm-12" id="itemsArea" >
									</div>
								</div>
								<div class="progress progress-striped" id="progressTipArea" style="margin-top: 20px;">
									<div id="progressBar" style="width: 0%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" role="progressbar" class="progress-bar progress-bar-info">
									</div>
								</div>

								<div class="row btn-group-m-t">
									<div class="col-sm-10">
										<#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ParkInfoDlg.addSubmit()"/>
										<#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ParkInfoDlg.close()"/>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<script type="text/template" id="itemTemplate">
	<div class="form-group" name="dictItem" id="dictItem">
		<label class="col-sm-3 control-label"></label>
		<div class="col-sm-4">
			<input class="form-control" type="text" name="itemName">
		</div>
		<div class="col-sm-4">
			<#button btnCss="danger" name="删除" id="cancel" icon="fa-remove" clickFun="DictInfoDlg.deleteItem(event)"/>
		</div>
	</div>
</script>
<script src="${ctxPath}/static/modular/football/park/park_info.js"></script>
@}
