<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.common.persistence.dao.PkMesgMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.stylefeng.guns.common.persistence.model.PkMesg">
		<id column="id" property="id" />
		<result column="mesgname" property="mesgname" />
		<result column="objtype" property="objtype" />
		<result column="createdate" property="createdate" />
		<result column="content" property="content" />
		<result column="channel" property="channel" />
	</resultMap>

</mapper>
