<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.common.persistence.dao.PkMemberMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.stylefeng.guns.common.persistence.model.PkMember">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="sex" property="sex" />
		<result column="mobile" property="mobile" />
		<result column="birth" property="birth" />
		<result column="position" property="position" />
		<result column="habitfeet" property="habitfeet" />
		<result column="height" property="height" />
		<result column="weight" property="weight" />
		<result column="type" property="type" />
		<result column="status" property="status" />
		<result column="createdate" property="createdate" />
		<result column="updatedate" property="updatedate" />
		<result column="creator" property="creator" />
		<result column="updator" property="updator" />
		<result column="isdeleted" property="isdeleted" />
	</resultMap>

</mapper>
