<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.common.persistence.dao.PkParkMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.stylefeng.guns.common.persistence.model.PkPark">
		<id column="id" property="id" />
		<result column="park_name" property="parkName" />
		<result column="park_province" property="parkProvince" />
		<result column="park_city" property="parkCity" />
		<result column="park_area" property="parkArea" />
		<result column="park_desc" property="parkDesc" />
		<result column="park_business_time" property="parkBusinessTime" />
		<result column="create_date" property="createDate" />
		<result column="update_date" property="updateDate" />
		<result column="creator" property="creator" />
		<result column="updator" property="updator" />
		<result column="is_deleted" property="isDeleted" />
	</resultMap>

</mapper>
