<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.common.persistence.dao.PkTeamReviewMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.stylefeng.guns.common.persistence.model.PkTeamReview">
		<id column="id" property="id" />
		<result column="teamid" property="teamid" />
		<result column="oppoid" property="oppoid" />
		<result column="openid" property="openid" />
		<result column="culture" property="culture" />
		<result column="ontime" property="ontime" />
		<result column="friendly" property="friendly" />
		<result column="matchid" property="matchid" />
	</resultMap>

</mapper>
