@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="adInfoForm">
            <div class="row">
                <div class="col-sm-6 b-r">
                    <#label id="mainhead" name="标题" underline="true" value="${ad.mainhead}"   disabled="disabled"/>
                    <#label id="subhead" name="副标题" underline="true" value="${ad.subhead}"   disabled="disabled"/>
                    <!--<div class="form-group">-->
                        <#label  name="广告链接" value="${ad.url}"/>

                    <!--</div>-->
                </div>
                <div class="col-sm-6 b-r">
                    <#label id="starttime" name="开始时间" underline="true" placeholder="yyyy-MM-dd HH:mm:ss" disabled="disabled"
                            value="${starttime}"/>
                    <#label id="endtime" name="结束时间" underline="true"   placeholder="yyyy-MM-dd HH:mm:ss"    value="${endtime}"
                            disabled="disabled"/>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 b-r">

                        <#adview id="ads" name="广告图片" underline="true"   adsImg="${ad.adsImg}" ads = "${ad.ads}"/>
                </div>

            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/football/ad/ad_info.js"></script>
@}
