@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>规则管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="hidden-xs" id="ruleTableToolbar" role="group">
                            <#button name="查看" icon="fa-eye" clickFun="Rule.openRuleView()" space="true"/>
                            <#button name="修改" icon="fa-edit" clickFun="Rule.openRuleDetail()" space="true"/>
                        </div>
                        <#table id="ruleTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/football/ad/rule.js"></script>
@}
