@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="memberInfoForm">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-12 b-r">
                    <#input id="account" name="账号" underline="true"/>

                    <#input id="name" name="姓名" underline="true"/>

                    <#input id="birth" name="出生年月" underline="true" type="date"
                            clickFun="laydate({istime: false, format: 'YYYY-MM-DD'})" />

                    <#input id="height" name="身高" underline="true"/>
                    <#input id="weight" name="体重" underline="true"/>
                    <#select id="position" name="所踢位置" underline="true">
                        <option value="1">中前卫</option>
                        <option value="2">前腰</option>
                        <option value="3">边前卫</option>
                        <option value="4">边锋</option>
                        <option value="5">后腰</option>
                        <option value="6">影前锋</option>
                        <option value="7">中后卫</option>
                        <option value="8">边后卫</option>
                        <option value="9">清道夫</option>
                        <option value="10">中锋</option>
                        <option value="11">前锋</option>
                    </#select>
                    <#select id="habitfeet" name="惯用脚" underline="true">
                        <option value="1">左</option>
                        <option value="2">右</option>
                    </#select>


                    @if(isNotEmpty(type) && type == '1'){
                    <#select id="type" name="状态" underline="true">
                        <option value="1">队长</option>
                    </#select>
                    @}else{
                    <#select id="type" name="状态" underline="true">
                        <option value="2">球员</option>
                    </#select>
                    @}
                    <#avatar id="avatar" name="头像" underline="true" />
                    <#avatar id="idcard" name="身份证照" underline="true" />
                </div>
                @if(isNotEmpty(type) && type == '1'){
                <#input id="teamname" name="创建球队" underline="true" value=""/>

                <#avatar id="teamlogo" name="球队logo" underline="true" avatarImg=""/>

                <#select id="area" name="球队区域" underline="true" value="">
                    @for(item in areaInfo){
                    <option value="${item.areaid}">${item.area}</option>
                    @}
                </#select>
                @}

            </div>


            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="MemberInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="MemberInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/football/member/member_info.js"></script>
@}
